@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        font-family: 'Work Sans', sans-serif;
        font-size: 18px;
        background: #050f25;
    }
    /* width */
::-webkit-scrollbar {
   @apply w-[5px]
}
 
/* Track */
::-webkit-scrollbar-track {
    @apply bg-tona-dark-200 rounded-[5px];
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    @apply bg-tona-blue rounded-[5px];
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

    .flex-items-center {
        @apply flex items-center
    }

    .flex-items-between {
        @apply flex items-center justify-between
    }

    .flex-item-col {
        @apply flex flex-col
    }

    .flex-items-full-center {
        @apply flex items-center justify-center
    }
}